// ===========================================================================
// Variables
// ===========================================================================
$sky: #f8fbfc;
$foam: #94b2b9;
$burgundy: #B67879;
$gray: #475059;
$teal: #398397;

$hr_color: #f3f6f7;

// ===========================================================================
// Mixins
// ===========================================================================

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
    background-image: url('../../images/' + ($image_name + $extention));
    $x2img : $image_name + '@2x' + $extention;

    @media all and (-webkit-min-device-pixel-ratio : 1.5) {
        background-image: url('../../images/' + ($x2img));
        background-size: $w $h;
    }
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}
