@import "_common.scss";

// ===========================================================================
// Template
// ===========================================================================

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    background-color: darken($sky, 2%);
    color: #9b9fa2;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.46;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
}

a {
    color: $teal;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: darken($teal, 14%);
    }
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 7px 12px;
    font-weight: bold;
    font-size: 0.8em;
    border: 2px solid #ededed;
    border-radius: 4px;

    &:hover {
        border-color: #e0e0e0;
    }
}

.brandon_grotesque {
    text-transform: uppercase;
    font-family: "brandon-grotesque-1", "brandon-grotesque-2", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    @extend .brandon_grotesque;
    font-weight: 700;
    margin-bottom: 10px;
}

h1 {
    color: $gray;
    font-weight: 900;
    font-size: 5.5em;
    line-height: 0.9;
}

h2 {
    color: $burgundy;
    font-size: 1.8em;
}

h3 {
    color: $gray;
}

p + p {
    margin-top: 10px;
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid $hr_color;
}

$container_max_width: 1300px;
#container {
    margin: 0 auto;
    max-width: $container_max_width;
    background-color: #fff;
}

#site_nav {
    position: fixed;
    padding: 15px 0;
    width: 100%;
    max-width: $container_max_width;
    background-color: #fff;
    border-bottom: 1px solid $hr_color;
    text-align: center;
    z-index: 100;
    @extend .brandon_grotesque;

    li {
        display: inline-block;

        + li {
            margin-left: 8px;
        }
    }

    a {
        $nav_color: #a3bbc3;

        display: inline-block;
        padding: 5px 14px;
        color: $nav_color;
        font-size: 1.1em;
        border-radius: 3px;

        &:hover {
            background-color: $sky;
        }

        &.active {
            color: #fff;
            background-color: $nav_color;
        }
    }
}

// ===========================================================================
// Parallax / Fading Elements
// ===========================================================================

.fade_in {
    opacity: 0;
}

.parallax_container {
    position: relative;
    height: 440px;
    overflow: hidden;
}

.parallax {
    position: absolute;
    top: 0;
}

.photo {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;

    &.hero {
        margin-top: 530px; // Feels bad
        top: -176.5703125px; // Feels bad
        background-image: url('../../images/photo_hero.jpg');
    }

    &.winery {
        background-color: #748e96;
        background-image: url('../../images/photo_winery.jpg');
    }

    &.waterfront {
        background-color: #d8e5e9;
        background-image: url('../../images/photo_waterfront.jpg');
    }

    &.tbd {
        background-color: #cBd5d7;
    }
}

$ring_size: 82px;
// Modernizr
.borderradius {
    .ring_wrapper {
        position: relative;
        margin: -50px auto;
        width: 140px;
        height: 140px;
        z-index: 2;
    }

    .ring {
        position: absolute;
        left: 0;
        display: block;
        width: $ring_size;
        height: $ring_size;
        border-radius: $ring_size;
        border: 9px solid #d8e5e9;

        + .ring {
            margin-top: $ring_size/2;
            left: 45px;
        }
    }
}

// ===========================================================================
// Sections
// ===========================================================================

.content {
    position: relative;
    margin: 0 auto;
    padding: 30px;
    max-width: 960px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;

    &.center {
        font-size: 1.1em;
        text-align: center;
        width: 65%;
    }

    &.left {
        float: left;
        width: 45%;
    }

    &.right {
        float: right;
        width: 45%;
    }
}

section,
footer {
    padding: 50px;
    overflow: hidden;
}

#about {
    position: relative;
    padding: 180px 0 780px 0;
    height: 0;
    text-align: center;
    background-color: $sky;
    @extend .brandon_grotesque;

    h1 {
        margin-bottom: 0;

        span {
            color: $burgundy;
        }
    }

    p {
        color: darken($foam, 5%);
        font-size: 1.7em;
    }
}

#wedding {
    background-color: $foam;

    h2 {
        color: #fff;
    }

    p {
        color: #dbe3e6;
    }

    a {
        color: #fff;

        &:hover {
            color: transparentize(#fff, 0.2);
        }

        &.button {
            &:hover {
                border-color: transparentize(#fff, 0.5);
            }
        }
    }
}

#accommodations {
    .wrapper {
        position: relative;
        padding-right: calc(42% + 30px);
    }

    .map {
        position: absolute;
        top: 0;
        right: 0;
        width: 42%;
        height: 100%;
    }
}

// ===========================================================================
// Media Queries
// ===========================================================================

@media screen and (min-width: 1200px) {
    .photo {
        background-size: cover;
    }
}

@media screen and (max-width: 860px) {
    .move_up {
        margin-top: 0 !important; // Feels bad
    }

    .parallax_container {
        height: 300px;
    }

    .photo {
        background-size: cover;
        height: 500px;
    }

    #site_nav {
        display: none;
    }

    section,
    footer {
        padding: 30px 20px;

        h2 {
            font-size: 1.4em;
        }
    }

    .content {
        &.center,
        &.left,
        &.right {
            float: none;
            width: auto;
            text-align: left;
            font-size: 1.1em;
        }
    }

    #about {
        font-size: 0.9em;
        padding: 45px 0;
        height: auto;

        .ring_wrapper {
            margin: 0 auto -25px auto;
        }

        .photo {
            display: none;
        }
    }

    #accommodations {
        .wrapper {
            padding: 0;
        }

        .map {
            position: static;
            margin: 30px 0 0 0;
            width: 100%;
            height: 200px;
        }
    }
}

@media screen and (max-width: 320px) {
    .parallax_container {
        height: 300px;
    }

    .photo {
        height: 340px;
    }

    section,
    footer {
        padding: 10px 0;
    }
}
