// ===========================================================================
// Variables
// ===========================================================================

$bg_color:          #fff;
$header_color:      #505751;
$body_color:        #848484;
$link_color:        #999;
$link_hover_color:  #3987c6;

// ===========================================================================
// Mixins
// ===========================================================================

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin transition($duration: 0.18s, $property: all, $easing: ease-out, $delay: 0s) {
    -ms-transition: $property $duration $easing $delay;
    -webkit-transition: $property $duration $easing $delay;
    transition: $property $duration $easing $delay;
}

@mixin transform($transform) {
    -ms-transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin animation($animation) {
    -moz-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

@mixin vertical_align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin retina_background($file, $type, $width, $height) {
    background-image: url($file + '.' + $type);

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (-moz-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        & {
          background-image: url($file + '@2x.' + $type);
          -webkit-background-size: $width $height;
          -moz-background-size: $width $height;
          -o-background-size: $width $height;
          background-size: $width $height;
        }
    }
}

// ===========================================================================
// Animations
// ===========================================================================

@include keyframes(tease) {
    0% {
        @include transform(translate(0, 0));
    }

    50% {
        @include transform(translate(0, -10px));
    }

    100% {
        @include transform(translate(0, 0));
    }
}

// ===========================================================================
// Reset + Utilities
// ===========================================================================

body {
    margin: 0;
    padding: 0;
}

p,
h1,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header,
section {
    display: block;
}

.offstage {
    display: block;
    width: 0;
    height: 0;
    text-indent: -1000em;
    overflow: hidden;
}

.center {
    text-align: center;
}

.brandon_grotesque {
    text-transform: uppercase;
    font-family: "brandon-grotesque-1", "brandon-grotesque-2", sans-serif;
}

// ===========================================================================
// Stuff
// ===========================================================================

body {
    @extend .brandon_grotesque;
    color: $body_color;
    background-color: $bg_color;
    font-size: 1.1rem;
    line-height: 1.6;
}

section {
    position: relative;

    .content {
        padding: 0 8em;
        margin: 0 auto;
        @include vertical_align;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 14px;
}

h1 {
    color: $header_color;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.35em;
}

h2 {
    font-size: 2rem;
}

a {
    display: inline-block;
    text-decoration: none;
    @include transition;
}

p > a {
    color: $link_color;
    border-bottom: 1px solid $link_color;

    &:hover {
        color: $link_hover_color;
        border-bottom-color: $link_hover_color;
    }
}

.button {
    margin-top: 15px;
    padding: 0.8rem 0.9rem;
    border: 2px solid #ccc;

    &:hover {
        color: #fff;
        border-color: $link_hover_color;
        background-color: $link_hover_color;
    }
}

.tease {
    $arrow_size: 0.52em;
    $button_size: 2em;

    position: absolute;
    bottom: 0.8em;
    left: 50%;
    margin-left: -$button_size/2;
    width: $button_size;
    height: $button_size;
    background-color: transparentize($link_color, 0.6);
    border-radius: 100%;
    @include animation(tease 4s infinite);

    .arrow {
        display: block;
        margin: 0.8em auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $arrow_size $arrow_size 0 $arrow_size;
        border-color: darken($link_color, 5%) transparent transparent transparent;
        @include transition;
    }

    &:hover {
        background-color: $link_color;

        .arrow {
            border-color: darken($link_color, 35%) transparent transparent transparent;
        }
    }
}

.photo {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    &.hero {
        background-image: url('/assets/images/photo_hero.jpg');
    }

    &.stairs {
        background-image: url('/assets/images/photo_stairs.jpg');
    }
}

$ring_size: 82px;
.ring_wrapper {
    position: relative;
    margin: 0 auto 30px auto;
    width: 170px;
    height: 140px;
    z-index: 2;
}

.ring {
    position: absolute;
    left: 0;
    display: block;
    width: $ring_size;
    height: $ring_size;
    border-radius: $ring_size;
    border: 8px solid #e0e0e0;

    + .ring {
        margin-top: $ring_size/2;
        left: 45px;
    }
}
